* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
}

.header {
  padding: 10px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  max-width: 1440px;
  margin-bottom: 20px;
  margin-inline: auto;
  z-index: 100;
}
.header a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  transition: transform 0.3s ease-in;
  position: relative;
  display: inline-block;
  padding-bottom: 4px;
}
.header a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #fff;
  width: 0;
  height: 2px;
  z-index: -1;
  transition: all 0.3s ease-in;
}
.header a:hover::after {
  width: 100%;
  right: 0;
}
.header nav {
  display: flex;
  gap: 15px;
  align-items: center;
  transition: all 0.4s ease-in;
}
.header nav a {
  text-decoration: none;
  font-size: 20px;
}
.header button {
  background-color: transparent;
  border: 0;
}
.header .fas {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 30px;
  color: #fff;
  display: none;
}

@media (max-width: 992px) {
  .menu {
    flex-direction: column;
    gap: 20px;
    position: fixed;
    right: -100%;
    background: #000;
    align-items: center;
    display: none;
    width: 70%;
    height: 100%;
    z-index: 100;
    justify-content: center;
    top: 0;
    transition: right 0.5s ease-in;
  }
  .menu.open {
    right: 0;
    display: flex;
  }
  .fas {
    display: block !important;
  }
}
.main-card {
  max-width: 1440px;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 15px;
  justify-content: center;
  margin-bottom: 40px;
}
.main-card .card {
  max-width: 350px;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 4px 3px #cac9c9;
  overflow: hidden;
  cursor: pointer;
}
.main-card .card .cardTitle {
  font-size: 30px;
  color: #939393;
}
.main-card .card .card-image {
  overflow: hidden;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 10px;
  height: auto;
  width: 100%;
  height: 200px;
}
.main-card .card .card-image img {
  width: 100%;
  transition: transform 0.3s ease-in;
  object-fit: cover;
  border-radius: 10px;
  height: 100%;
}
.main-card .card .card-image img:hover {
  transform: scale(1.1);
  z-index: -1;
}
.main-card .card .cardbody h3 {
  text-transform: uppercase;
  margin-bottom: 5px;
}
.main-card .card .cardbody .cardbody__content p {
  font-size: 12px;
  color: #cac9c9;
}
.main-card .card .cardbody .cardbody__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-card .card .cardbody .cardbody__info p {
  font-size: 20px;
  color: green;
}
.main-card .card .cardbody .cardbody__info a {
  text-decoration: none;
  text-transform: uppercase;
  max-width: 200px;
  padding: 10px;
  border: 0;
  border-radius: 10px;
  background-color: black;
  color: #fff;
  display: inline-block;
  transition: all 0.3s ease-in;
  position: relative;
  z-index: 2;
}
.main-card .card .cardbody .cardbody__info a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  border-radius: 10px;
  transition: all 0.3s ease-in;
  z-index: -1;
  background-color: #cac9c9;
}
.main-card .card .cardbody .cardbody__info a:hover::after {
  width: 100%;
  left: 0;
}

.footer-body {
  max-width: 1440px;
  margin-inline: auto;
  background-color: #000;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  padding: 30px;
}
.footer-body nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-body nav a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.footer-body nav a:hover {
  color: rgb(111, 105, 105);
}